<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>I4I - Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center bg-dark">
    
<main class="form-signin">
  <form action="/authenticate" method="POST">
    <a href="/">
      <img class="mb-4" src="/img/i4i_logo_cuted.png" alt="Logo da Empresa I4I" >
    </a>
    <h1 class="text-white-50 h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating">
      <input type="email" name="email" class="form-control" id="floatingInput" placeholder="nome@provedor.com">
      <label for="floatingInput">Email</label>
    </div>

    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="********">
      <label for="floatingPassword">Senha</label>
    </div>

    <button class="w-100 btn btn-lg btn-secundary fw-bold border-white bg-white" type="submit">Entrar</button>
    <br class="my-1 text-white-50">ou</br>
    <a class="text-white-50 btn btn-sm btn-secundary fw-bold border-grey bg-grey" href="/users/create">Registrar</a> 
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>

  </form>
  <footer class="mt-auto text-white-50">
    <p>Desenvolvido por <a href="https://github.com/Lucasgb7/" class="text-white">Lucasgb7</a></p>
  </footer>
</main>
</body>
</html>
